@tailwind base;
@tailwind components;
@tailwind utilities;

/*pages*/

.home{
    @apply flex flex-1 flex-row justify-between m-2;
}

/*layouts*/

.main {
    @apply flex-1 h-full;
}

.body {
    @apply h-full flex flex-col
}

.header {
    @apply flex w-full h-10 border  bg-blue-200 text-center;
}

.footer {
    @apply flex w-full h-10 bg-gray-200 justify-between;
}

.page-header {
    @apply flex w-full;
}

/*components*/

.button {
    @apply flex-1 h-full pr-3
}

.todo-box {
    @apply m-2 p-2 border rounded border-black
}

.title {
    @apply flex h-full pr-3 font-bold
}

.label {
    @apply text-sm ml-2;
}

.card {
    @apply flex flex-col p-6 w-full max-w-sm m-4
}

.card-form {
    @apply flex flex-col gap-4
}

.card-to-do {
    @apply flex flex-col gap-6
}

.card-detail {
    @apply flex flex-col gap-6 mt-3
}

.card-input {
    @apply grid gap-2
}

.card-footer {
    @apply flex-col gap-2
}

.sidebar-trigger {
    @apply mr-2 ml-2
}

.days {
    @apply w-full p-2
}

/*---break---*/

@layer base {
  :root {

        --background: 0 0% 100%;

        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;

        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;

        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;

        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;

        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;

        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;

        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;

        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;

        --input: 0 0% 89.8%;

        --ring: 0 0% 3.9%;

        --chart-1: 12 76% 61%;

        --chart-2: 173 58% 39%;

        --chart-3: 197 37% 24%;

        --chart-4: 43 74% 66%;

        --chart-5: 27 87% 67%;

        --radius: 0.5rem;

        --sidebar-background: 0 0% 98%;

        --sidebar-foreground: 240 5.3% 26.1%;

        --sidebar-primary: 240 5.9% 10%;

        --sidebar-primary-foreground: 0 0% 98%;

        --sidebar-accent: 240 4.8% 95.9%;

        --sidebar-accent-foreground: 240 5.9% 10%;

        --sidebar-border: 220 13% 91%;

        --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {

        --background: 0 0% 3.9%;

        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;

        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;

        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;

        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;

        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;

        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;

        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;

        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;

        --input: 0 0% 14.9%;

        --ring: 0 0% 83.1%;

        --chart-1: 220 70% 50%;

        --chart-2: 160 60% 45%;

        --chart-3: 30 80% 55%;

        --chart-4: 280 65% 60%;

        --chart-5: 340 75% 55%;

        --sidebar-background: 240 5.9% 10%;

        --sidebar-foreground: 240 4.8% 95.9%;

        --sidebar-primary: 224.3 76.3% 48%;

        --sidebar-primary-foreground: 0 0% 100%;

        --sidebar-accent: 240 3.7% 15.9%;

        --sidebar-accent-foreground: 240 4.8% 95.9%;

        --sidebar-border: 240 3.7% 15.9%;

        --sidebar-ring: 217.2 91.2% 59.8%}}

/*---break---*/

@layer base {
  * {
    @apply border-border;}
  body {
    @apply bg-background text-foreground;}}